@font-face {
    font-family: 'Integral CF';
    src: url(resources/fonts/Integral\ CF/IntegralCF-Bold.otf) format(truetype);
}

::selection {
    color: rgb(0, 0, 0);
    background: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* { border: red solid 1px; }*/

body {
    background-color: #292929;
    cursor: default;
    margin: 0;
}

body div {
    align-self: center;
    display: flexbox;
    justify-content: center;
}

body div div {
    display: flex;
}

body header {
    background-color: rgba(0, 0, 0, 0.5);
}

div.headline h1 {
    color: white;
    font-family: 'Integral CF';
    font-size: 69px;
    text-decoration: none;
}

div.headline h1.prefixLines {
    font-weight: lighter;
    letter-spacing: -15px;
    transition: all 0.25s;
}

div.headline h1.prefixLines:hover {
    text-shadow: white 0 0 10px;
}

div.headline span {
    align-self: center;
    color: white;
    font-family: 'Integral CF';
    font-weight: bold;
    font-size: 69px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

div.headline span.linkToChannel:hover {
    color: rgba(0, 223, 85, 1);
    cursor: pointer;
    text-shadow: 
        rgba(0, 223, 0, 0.5) 3px 3px 0px
        /*rgba(0, 0, 0, 0.5) 10px 10px 10px*/;
}

div.socialMediaIcons {
    margin-top: 2.5%;
}

svg.socialIcon {
    width: 5%;
    height: 5%;
    fill: white;
    margin-left: 50px;
    margin-right: 50px;
    transition: all 0.5s;
}

svg.socialIcon.tiktok:hover {
    fill: black;
    filter: 
        drop-shadow(5px 5px 5px rgb(255, 0, 80))
        drop-shadow(-5px -5px 5px rgb(0, 242, 234));
}

svg.socialIcon.twitter:hover {
    fill: rgb(29, 161, 242);
    filter: 
        drop-shadow(0px 0px 10px white)
}